.PopUpOrder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  width: 100%;
  max-width: 50rem;
  height: 90%;
  border: 1px solid black;
  border-radius: 20px;
  background-image: url('../../assets/design-assets/climpek.png');
  background-color: var(--firstColor);
  z-index: 999;
  color: var(--sixthColor);
  overflow: scroll;
  padding: 20px;
  
  @media (max-width: 949px) {
    width: 80%;
  }
  @media (max-width: 609px) {
    width: 95%;
  }
}
