.activeNav {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  min-width: 10rem;
  width: 24%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  background: linear-gradient(rgb(188, 255, 134), var(--secondColor));
 

  &:hover {

    color: #000000;
  }

  @media (max-width: 549px) {
    font-size: 12px;
    padding: 5px;
    min-width: 5rem;
  }
  
}

.inactiveNav {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  min-width: 10rem;
  width: 24%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  background: linear-gradient(rgb(253, 143, 143), var(--thirdColor));
  

  &:hover {
    background: linear-gradient(rgb(244, 255, 174),var(--fourthColor));
    color: #000000;
  }

  @media (max-width: 549px) {
    font-size: 12px;
    padding: 5px;
    min-width: 5rem;
  }
}

.navbarButtonDefault {
  padding: 8px 20px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease-in-out;

}