:root {
  --firstColor: #012623;
  --secondColor: #1C594E;
  --thirdColor: #590212;
  --fourthColor: #D9A441; 
  --fifthColor: #A65F21;
  --sixthColor: #ffecc8;
  --seventhColor: #d1fffb;
  
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Bad script';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--sixthColor);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  box-sizing: border-box;
}


::-webkit-scrollbar {
width: 3px;
height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--fifthColor);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
} 


*, *:before, *:after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

 a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/*
a:hover {
  color: #535bf2;
} */

body {
  /* margin: 0; */
  /* display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh; */
  background-image: url('assets/design-assets/BackgroundImg.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: var(--firstColor);
  border-radius: 10px;
  border: solid 2px var(--firstColor);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  background: 
    url('assets/design-assets/diamonds-are-forever.png'),
    linear-gradient(rgb(244, 255, 174),var(--fifthColor));
}

button:disabled {
  background: 
    url('assets/design-assets/diamonds-are-forever.png'),
    linear-gradient(var(--thirdColor),var(--fifthColor));
}


button:disabled:hover {
  background: 
  url('assets/design-assets/diamonds-are-forever.png'),
  linear-gradient(var(--thirdColor),var(--fifthColor));
}

button:active:focus {
  background: 
    url('assets/design-assets/diamonds-are-forever.png'),
    linear-gradient(var(--sixthColor),var(--fifthColor));
}

form input{
  color: var(--thirdColor);
  border-radius: 10px;
  border: solid 2px var(--firstColor);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  background: 
    url('assets/design-assets/black-linen.png'),
    linear-gradient(rgb(244, 255, 174),var(--fifthColor));
}

form textarea{
  color: var(--firstColor);
  border-radius: 10px;
  height: 5rem;
  width: 7rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background: var(--sixthColor);
}

button:hover {
  background: 
    url('assets/design-assets/diamonds-are-forever.png'),
    linear-gradient(var(--seventhColor),var(--fifthColor));
}

/*button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/